<!DOCTYPE html>
<html>
<head th:replace="fragments/board_head :: head('전체게시판')">
<body>
	<!-- 공통 네비게이션: top -->
	<nav>
		<!-- content section 크기와 같은 영역 -->
		<div class="nav-top">
			<div class="wrapper">
				<div class="nav-logo">
					<a>Green Scanner</a>
				</div>
				<div class="nav-menu">
					<a>로그인</a> <a>회원가입</a> <a>공지사항</a> <a>FAQ</a>
					<div class="nav-dropdown">
						<button class="nav-dropdown-btn">자주사용하는기능</button>
						<div class="dropdown-submenu">
							<a>음성으로배출방법찾기</a> <a>사진으로배출방법찾기</a> <a>주변쓰레기통찾기</a> <a>제로웨이스트상점찾기</a>
							<a>챌린지</a> <a>게시판</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<div class="nav-border"></div>
	<div class="Title">
		<label class="Title_text"> 전체게시판 </label>
		<div class="Vector_13"></div>
	</div>
	<div class="Section_1">
		<a class="link" href="bulletin_boardlist"><span
			class="Section_title_1">자유게시판</span><img
			src="../img/board/Arrow - Left.png"></a>
		<div class="ContentBox" th:each="b_board:${b_boards}">
			<a class="link" id="index" th:attrappend="id=${b_boardStat.index}"
				name="postno" th:href="@{/board/viewpost(postno=${b_board.postno})}">
				<div class="Post_title" th:text="${b_board.title}"></div>
				<div class="Post_content" th:text="${b_board.content}"></div>
				<div class="Post_etc">
					<div class="Nickname">
						<img class="img_16" src="../img/board/User.png"> <label
							class="text" th:if="${b_board.isanon} == 0"
							th:text="${b_board.nickname}"></label> <label class="text"
							th:if="${b_board.isanon} == 1">익명</label>
					</div>
					<div class="Comments">
						<img class="img_16" src="../img/board/Comment.png"> <label
							class="text" th:text="${b_board.reply_cnt}"></label>
					</div>
					<div class="Post_date"
						th:text="${#dates.format(b_board.postdate, 'yyyy-MM-dd HH시 mm분')}"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="Section_2">
		<a class="link" href="question_boardlist"><span
			class="Section_title_2">질문게시판</span><img
			src="../img/board/Arrow - Left.png"></a>
		<div class="ContentBox" th:each="q_board:${q_boards}">
			<a class="link" id="index" th:attrappend="id=${q_boardStat.index}"
				name="postno" th:href="@{/board/viewpost(postno=${q_board.postno})}">
				<div class="Post_title" th:text="${q_board.title}"></div>
				<div class="Post_content" th:text="${q_board.content}"></div>
				<div class="Post_etc">
					<div class="Nickname">
						<img class="img_16" src="../img/board/User.png"> <label
							class="text" th:if="${q_board.isanon} == 0"
							th:text="${q_board.nickname}"></label> <label class="text"
							th:if="${q_board.isanon} == 1">익명</label>
					</div>
					<div class="Comments">
						<img class="img_16" src="../img/board/Comment.png"> <label
							class="text" th:text="${q_board.reply_cnt}"></label>
					</div>
					<div class="Post_date"
						th:text="${#dates.format(q_board.postdate, 'yyyy-MM-dd HH시 mm분')}"></div>
				</div>
			</a>
		</div>

	</div>













	<!-- <div class="mx-3 my-2">
	<label id="all_board">전체게시판</label>
</div>
자유게시판 영역
<div class="">
	게시판 상세보기 버튼/게시판 제목
	<div class= "">
		<a class="nextBtn" href="bulletin_boardlist" style="text-decoration:none">
		<label style="font-size: 1em; font-weight:bold; padding: 30px,30px,2px,30px; margin-top:10px; margin-left: 5px; color:#5A9367">[자유게시판]</label>
		<img style="width: 12px; height:12px;" src="../img/nextpageBtn.png" alt="..." ></a>
		
	</div>
	<div> 
		<div id='Bulletin_board' class="postno board-font" style="padding-top:3px; padding-bottom:3px; border-top: 0.1px solid #bebebe;">
			<div class ="mx-2 my-1" th:each="b_board:${b_boards}">
			<a class="cls1" style="text-decoration: none; color:black" id="index" th:attrappend="id=${b_boardStat.index}" name="postno" th:href="@{/board/viewpost(postno=${b_board.postno})}">
				<label class = "txt_line" style="font-weight:bold; padding:5px,5px,5px,5px" th:text="${b_board.title}"></label>
				<label class = "txt_line" style="color: #424242; font-size:4" th:text="${b_board.content}"></label></a><br>
				<img src="../img/user.png" style="width: 18px; height: 18px;"alt="...">&nbsp
				<label th:if="${b_board.isanon} == 1" style="font-weight:lighter; font-size:0.9em">익명</label>
				<label th:if="${b_board.isanon} == 0" th:text="${b_board.nickname}" style="font-weight:lighter; font-size:0.9em"></label>
				&nbsp&nbsp&nbsp<img src="../img/bubble.png">&nbsp<label style="font-size:0.9em" th:text="${b_board.reply_cnt}"></label>
				&nbsp&nbsp&nbsp<label th:text="${#dates.format(b_board.postdate, 'yyyy/MM/dd HH시 mm분')}"></label><hr>	
			</div>
		</div>
	</div>	
</div>

질문게시판 영역
<div class="img-rounded img-thumbnail mx-3 mb-3 p-0">
	게시판 상세보기 버튼/게시판 제목
	<div class= "board-font m-1">
		<a class="nextBtn" href="question_boardlist" style="text-decoration:none">
		<label style="font-size: 1em; font-weight:bold; padding: 30px,30px,2px,30px; margin-top:10px; margin-left: 5px; color:#5A9367">[질문게시판]</label>
		<img style="width: 12px; height:12px;" src="../img/nextpageBtn.png" alt="..." ></a>
		
	</div>
	<div> 
		<div id='Bulletin_board' class="postno board-font" style="padding-top:3px; padding-bottom:3px; border-top: 0.1px solid #bebebe;">
			<div class ="mx-2 my-1" th:each="q_board:${q_boards}">
			<a class="cls1" style="text-decoration: none; color:black" id="index" th:attrappend="id=${q_boardStat.index}" name="postno" th:href="@{/board/viewpost(postno=${q_board.postno})}">
				<label class = "txt_line" style="font-weight:bold; padding:5px,5px,5px,5px" th:text="${q_board.title}"></label>
				<label class = "txt_line" style="color: #424242; font-size:4" th:text="${q_board.content}"></label></a><br>
				<img src="../img/user.png" style="width: 18px; height: 18px;"alt="...">&nbsp
				<label th:if="${q_board.isanon} == 1" style="font-weight:lighter; font-size:0.9em">익명</label>
				<label th:if="${q_board.isanon} == 0" th:text="${q_board.nickname}" style="font-weight:lighter; font-size:0.9em"></label>
				&nbsp&nbsp&nbsp<img src="../img/bubble.png">&nbsp<label style="font-size:0.9em" th:text="${q_board.reply_cnt}"></label>
				&nbsp&nbsp&nbsp<label th:text="${#dates.format(q_board.postdate, 'yyyy/MM/dd HH시 mm분')}"></label><hr>	
			</div>
		</div>
	</div>	
</div>
<br><br> -->



</body>
</html>