<!DOCTYPE html>
<html>
<head th:replace="fragments/board_head :: head('글쓰기')">
</head>
<body>
	<nav th:replace="fragments/common.html :: nav-top"></nav>
	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<div class="nav-border"></div>
	<!-- Content 영역 -->
	<div class="board-cont-body">
		<div class="board-cont-wrapper">
			<!-- 페이지 제목 영역 -->
			<div class="board-cont-top">
				<div class="board-cont-top-main">
					<span class="board-cont-top-title">글쓰기</span> <input type="hidden"
						id=sessionNickname th:value="${session.memnickname}">
				</div>
			</div>
			<div class="content-border"></div>
			<!-- 글쓰기 폼 영역 -->

			<form action="/board/updatePostSave" method="post"
				enctype="multipart/form-data" onsubmit="return writePost();">
				<div class="Write_form">
					<div class="board-cont-write-top-main">
						<div class="Post_title">
							<div class="write_label">제목</div>
							<input th:value="${post.title}" type="text" class="input_title"
								name="title" id="title">
						</div>
						<div class="Post_boardType">
							<div class="write_label">게시판 구분</div>
							<div class="">
								<select class="select_boardType" name="boardname" id="boardname">
									<option class="select_boardType" value="자유게시판">자유게시판</option>
									<option class="select_boardType" value="질문게시판">질문게시판</option>
								</select>
							</div>
						</div>
					</div>
					<div class="board-write-anon">
						<input class="input_checkbox" type="checkbox" name="isanon"
							th:if="${post.isanon} == 1" value="1" checked="checked">
						<input class="input_checkbox" type="checkbox" name="isanon"
							th:if="${post.isanon} == 0" value="0"> <label
							class="write_label">익명</label>
					</div>
					<div class="board-write-content">
						<div class="write_label">내용</div>
						<textarea name="content" id="content" th:text="${post.content}"
							class="board-write-content-input" placeholder="내용을 입력해주세요"></textarea>
					</div>
					<div class="file-upload preview-image mt-20" style="height: 40px;">
						<label for="input"><img
							src="../img/board/Insert-photo.png"></label> 
							<input type="text" th:value="${post.filename}"
							class="upload-name" disabled="disabled"> 
							<input 
							accept="image/*" type="file" name=file id="input"
							 class="upload-hidden"> 
							 <input
							type="hidden" id="orgFile" name="orgFile"/>
					</div>
					<div class="board-write-btn-group">
						<input type="hidden" name="postno" th:value="${post.postno}"></input>
						<input type="hidden" name="_csrf" th:value="${token}"> <input
							type="button" class="Btn_cancle" id="cancleBtn" value="취소">
						<input type="submit" class="Btn_submit" id="registerPostBtn"
							value="등록">
					</div>
				</div>
			</form>
		</div>
	</div>




</body>
</html>