<!DOCTYPE html>
<html>
<head th:replace="fragments/board_head :: head('글쓰기')">
</head>
<body>
	<nav th:replace="fragments/common.html :: nav-top"></nav>
	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<div class="nav-border"></div>

	<div class="main">
		<div class="Title">
			<label class="Title_text">글쓰기</label>
			<div class="Vector_13"></div>
		</div>
		<form action="/board/write" method="post"
			enctype="multipart/form-data" onsubmit="return writePost();">
			<div class="Write_form">

				<div class="Post_title">
					<div class="write_label">제목</div>
					<input type="text" class="input_title" name="title" id="title"
						placeholder="제목을 입력해주세요!!!">
				</div>
				<div class="Post_boardType">
					<div class="write_label">게시판 구분</div>
					<div class="">
						<select class="select_boardType" name="boardname" id="boardname">
							<option class="select_boardType" value="자유게시판">자유게시판</option>
							<option class="select_boardType" value="질문게시판">질문게시판</option>
						</select>
					</div>
				</div>
				<div class="Post_anonymous">
					<input class="input_checkbox" type="checkbox" name="isanon"
						value="1"><label class="write_label">익명</label>
				</div>
				<div class="Post_content">
					<div class="write_label">내용</div>
					<textarea name="content" id="content" class="input_content"
						placeholder="내용을 입력해주세요"></textarea>
				</div>
				<div class="Post_file">
					<div class="file-upload preview-image">
						<label for="input"><img
							src="../img/board/Insert-photo.png"></label> <input type="text"
							class="upload-name" disabled="disabled"> <input
							accept="image/*" type="file" id="input" name="file"
							class="upload-hidden">
					</div>
				</div>
				<div class="Btn_group">
					<input type="hidden" name="_csrf" th:value="${token}"> <input
						type="button" class="Btn_cancle" id="cancleBtn" value="취소">
					<input type="submit" class="Btn_submit" id="registerPostBtn"
						value="등록">
				</div>
			</div>
		</form>
	</div>
	<!-- 	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<!-- 	<div class="footer-border"></div>
	공통 footer
	<div class="footer">
		content section 크기와 같은 영역
		<div class="wrapper">
			<div class="footer-left">
				<a>개인정보처리방침</a> <a>이용약관</a>
			</div>
			<div class="footer-right">
				<span>Copyright @ GREEN SCANNER</span>
			</div>
		</div> -->
</body>
</html>