<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="challenge/fragments/commonChallenge.html :: header('챌린지 상세 내용')">
<body>
	<nav th:replace="challenge/fragments/commonChallenge.html :: nav"></nav>
		<!-- bcDetail div -->
			<div th:replace="challenge/fragments/commonChallenge.html :: back('/challenge/main')"></div>
			<!-- 챌린지 세부사항 -->
				<div>
					<p th:text="${basicChallenge.challengeName}"></p><br>
					<img src="../" th:attrappend="src=${basicChallenge.thumbnailURL}">
					<div>
						<p>이렇게 해주세요!</p><hr>
							<div th:text="${basicChallenge.toDo}">내용</div>
					</div><hr>	
				</div>
			<!-- 챌린지 시작하기 -->
				<a th:href="@{/challenge/basic/{challengeCode}/set(challengeCode=${basicChallenge.challengeCode})}">
					<button>시작하기</button>
				</a>	
	<nav th:replace="challenge/fragments/commonChallenge.html :: footer"></nav>
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
//여기에 이 코드를 쓰기 위해선 loginForm.html에도 위 쿠키 라이브러리르 추가해 주어야합니다.
$(function(){
	var blank=$.cookie("blanked");
 	var login=$.cookie("logined"); 
 	var logout=$.cookie("logouted"); 
		$("#loginBlankDiv1").html(blank);
		$("#loginBlankDiv2").html(blank);
 		$("#nicknameDiv").html(login);
 		$("#logoutDiv").html(logout);
});

</script>
</html>