<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common.html :: header('챌린지')">
<body>
	<!-- 상단 nav -->
	<nav th:replace="/fragments/common.html :: nav-top"></nav>
	<!-- content 영역 -->
	<div class="chall-cont-body">
		<div class="chall-cont-wrapper">
			<div class="chall-cont-top">
				<div class="chall-main-link"><a href="/challenge/main"><img src="/img/challenge/home.png">챌린지 홈</a></div>
				<div class="chall-cont-top-main">
					<span class="chall-cont-top-title">챌린지</span>
					<a id="chall-all-feed" href="/challenge/feed/ ">피드모아보기 ></a>
				</div>
			</div>
			<div class="content-border"></div>
			<div class="chall-cont-main-wrapper">
				<!-- 비로그인 -->
				<div th:if="${login_required}" class="chall-cont-no">
					<span class="empty-space-text" id="chall-cont-no-text">지금 <a href="/html/login.html"><strong>로그인</strong></a>을 하고 챌린지를 시작해보세요!</span>
					<div class="chall-cont-min-border"></div>
				</div>
				<!-- 로그인  -->
				<div th:if="!${login_required}" class="chall-main-slide-container">
					<div class="chall-main-slide-wrapper">
						<div class="chall-main-slider">
							<div class="chall-main-slide-item">
								<!-- 진행중인 챌린지가 존재하지 않을 때 -->
								<div th:if="${#lists.isEmpty(proceeding)}" class="chall-cont-no-list">
									<span class="empty-space-text">현재 진행중인 챌린지가 없습니다</span>
									<span class="empty-space-text">지금 바로 챌린지에 도전해보세요!</span>
								</div>
								<!-- 진행중인 챌린지가 존재 -->
								<div th:if="!${#lists.isEmpty(proceeding)}" class="chall-cont-main-list">
									<div class="chall-cont-min-title">진행중인 챌린지</div>
									<div class="chall-cont-proceeding">
										<div th:each="pc : ${proceeding}" class="chall-cont-my">
											<div class="my-thumb-div">
												<a th:href="@{/challenge/my-challenge/{challengeNum} (challengeNum=${pc.challengeNum})}">	
													<img th:if="${pc.thumbnailURL}" class="my-thumb" th:src="${pc.thumbnailURL}">
												</a>
											</div>
											<div class="my-text">
												<a th:href="@{/challenge/my-challenge/{challengeNum} (challengeNum=${pc.challengeNum})}">
													<span class="my-text-chall-name" th:text="${pc.challengeName}"></span>
												</a>	
												<div class="my-text-dates">
													<div class="my-dates-start">
														<span>시작일</span>
														<span th:text="${pc.startDate}"></span>
													</div>
													<div class="my-dates-end">
														<span>종료일</span>
														<span th:text="${pc.endDate}"></span>
													</div>
												</div>								
											</div>
										</div>
									</div>
								</div>
							</div>					
							<div class="chall-main-slide-item">
								<!-- 진행중인 챌린지가 존재하지 않을 때 -->
								<div th:if="${#lists.isEmpty(completed)}" class="chall-cont-no-list">
									<span class="empty-space-text">현재까지 완료한 챌린지가 없습니다</span>
									<span class="empty-space-text">챌린지를 완수하고 지구환경에 기여해보세요! </span>
								</div>
								<!-- 진행중인 챌린지가 존재 -->
								<div th:if="!${#lists.isEmpty(completed)}" class="chall-cont-main-list">
									<div class="chall-cont-min-title">완료한 챌린지</div>
									<div class="chall-cont-completed">
										<div th:each="pc : ${completed}" class="chall-cont-my">
											<div class="my-thumb-div">
												<a th:href="@{/challenge/my-challenge/{challengeNum} (challengeNum=${pc.challengeNum})}">
													<img th:if="${pc.thumbnailURL}" class="my-thumb" th:src="${pc.thumbnailURL}">
												</a>
											</div>
											<div class="my-text">
												<a th:href="@{/challenge/my-challenge/{challengeNum} (challengeNum=${pc.challengeNum})}">
													<span class="my-text-chall-name" th:text="${pc.challengeName}"></span>
												</a>	
												<div class="my-text-dates">
													<div class="my-dates-start">
														<span>시작일</span>
														<span th:text="${pc.startDate}"></span>
													</div>
													<div class="my-dates-end">
														<span>종료일</span>
														<span th:text="${pc.endDate}"></span>
													</div>
												</div>								
											</div>
										</div>
									</div>
								</div>							
							</div>
						</div>	
					</div>				
					<div class="chall-cont-my-btn">
						<div class="my-btn-text" id="my-btn-text-left">
							<div class="triangle-btn-left"></div>
							<span>진행중</span>
							<span th:text="${proceedingNum}"></span>
						</div>
						<div class="my-btn-text" id="my-btn-text-right">
							<span>완료</span>
							<span th:text="${completedNum}"></span>
							<div class="triangle-btn-right"></div>
						</div>
					</div>
					<div class="chall-cont-min-border"></div>
				</div>
				<div class="chall-cont-main-basic">
					<div class="chall-cont-min-title">시작 가능한 챌린지</div>
					<div class="chall-cont-basic-list">
						<div th:each="bc : ${bcList}" class="chall-cont-basic">
							<a th:href="@{/challenge/basic/{challengeCode} (challengeCode=${bc.challengeCode})}" class="basic-thumb-div">
								<img th:if="${bc.thumbnailURL}" class="basic-thumb" th:src="${bc.thumbnailURL}">
							</a>
							<span th:text="${bc.challengeName}"></span>
						</div>
					</div>
					<div class="chall-cont-min-border"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 하단 footer -->
	<div th:replace="/fragments/common.html :: new-footer"></div>
	
	<script>
		const slider = $('.chall-main-slider');
		const slideItems = $('.chall-main-slide-item');
		const itemCnt = slideItems.length;
		const sliderWidth = 1194 * itemCnt + 'px';
		slider.css('width', sliderWidth);
		
		const comp = $('#my-btn-text-right');
		const proc = $('#my-btn-text-left');
		var slideIdx = 0;
		var leftOffset = 0;
		function slideScreen(idx) {
			leftOffset = -idx * 1194 + 'px';
			slider.css('left', leftOffset);
			slideIdx = idx;
		}
		
		comp.click(function() {
			if(slideIdx !== (itemCnt - 1)) {
				slideScreen(slideIdx + 1);
			} else {
				console.log("오른쪽으로 갈 수 없음");
			}
		})
		
		proc.click(function() {
			if(slideIdx !== 0) {
				slideScreen(slideIdx - 1);
			} else {
				console.log("왼쪽으로 갈 수 없음");
			}
		})
	</script>
</body>
</html>