<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common.html :: header('챌린지 시작하기')">
<body>
	<!-- 상단 nav -->
	<nav th:replace="/fragments/common.html :: nav-top"></nav>
	<!-- content 영역 -->
	<div class="chall-cont-body">
		<div class="chall-cont-wrapper">
			<div class="chall-cont-top">
				<span class="chall-cont-top-title">챌린지 시작하기</span>
			</div>
			<div class="content-border"></div>
			<div class="chall-cont-basic-detail">
				<form
					id="createForm"
					onsubmit="return fn_create_confirm()" 
					th:action="@{/challenge/basic/{challengeCode}(challengeCode=${basicChallenge.challengeCode})}" method="post">
					<span class="chall-cont-min-title" th:text="${basicChallenge.challengeName}"></span>
					<div class="basic-detail">
						<div class="basic-detail-thumb">
							<img>
						</div>
						<div class="basic-detail-description">
							<span class="description-title">이렇게 해주세요</span>
							<div class="description" th:text="${basicChallenge.toDo}"></div>
						</div>
					</div>	
					<div class="chall-cont-min-border"></div>
					<div class="chall-basic-setting">
						<div class="basic-setting-left">
							<span class="chall-cont-min-title-x2">색상</span>
							<div class="basic-setting-color">
								<div class="basic-setting-color-1">
									<input type="radio" id="#fab005" name="colorCode" value="#fab005">
									<label for="#fab005" class="color-circle" style="background-color: #fab005;"></label>
									<input type="radio" id="#fd7e14" name="colorCode" value="#fd7e14">
									<label for="#fd7e14" class="color-circle" style="background-color: #fd7e14;"></label>
									<input type="radio" id="#fa5252" name="colorCode" value="#fa5252">
									<label for="#fa5252" class="color-circle" style="background-color: #fa5252;"></label>
									<input type="radio" id="#e64980" name="colorCode" value="#e64980">
									<label for="#e64980" class="color-circle" style="background-color: #e64980;"></label>
									<input type="radio" id="#be4bdb" name="colorCode" value="#be4bdb">
									<label for="#be4bdb" class="color-circle" style="background-color: #be4bdb;"></label>								
								</div>
								<div class="basic-setting-color-2">
									<input type="radio" id="#7950f2" name="colorCode" value="#7950f2">
									<label for="#7950f2" class="color-circle" style="background-color: #7950f2;"></label>
									<input type="radio" id="#4c6ef5" name="colorCode" value="#4c6ef5">
									<label for="#4c6ef5" class="color-circle" style="background-color: #4c6ef5;"></label>
									<input type="radio" id="#15aabf" name="colorCode" value="#15aabf">
									<label for="#15aabf" class="color-circle" style="background-color: #15aabf;"></label>
									<input type="radio" id="#12b886" name="colorCode" value="#12b886">
									<label for="#12b886" class="color-circle" style="background-color: #12b886;"></label>
									<input type="radio" id="#82c91e" name="colorCode" value="#82c91e">
									<label for="#82c91e" class="color-circle" style="background-color: #82c91e;"></label>
								</div>
							</div>
						</div>
						<div class="basic-setting-right">
							<span class="chall-cont-min-title-x2">기간</span>
							<div class="basic-setting-period">
								<select name="period">
									<option value="" disabled selected hidden>기간을 선택해주세요</option>
									<option value="7">1주일</option>
									<option value="14">2주일</option>
									<option value="21">3주일</option>
									<option value="28">4주일</option>
								</select>
							</div>
						</div>
					</div>
					<div class="chall-cont-min-border"></div>
					<div class="chall-form-btns">
						<input id="cancle-btn" type="reset" value="취소">
						<input id="complete-btn" type="submit" value="완료">
					</div>
				</form>
			</div>
		</div>
	</div>	
	<!-- 하단 footer -->
	<div th:replace="/fragments/common.html :: new-footer"></div>
</body>
</html>