<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 게시판용 헤더 -->
<head th:fragment="head(title)">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.25, maximum-scale=1.0, minimum-scale=0.20, user-scalable=yes">
	<!-- navbar Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/my.css">
	<link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
	<title th:text="${title}">게시판</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7wp043jov3"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	
	<script src="../js/board.js"></script>
	<script src="../js/login.js"></script>
	<link href="../css/styles.css" rel="stylesheet" />
	<link href="../css/comment.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/boardlist.css">
</head>

<!-- 챌린지용 헤더 -->
<head th:fragment="header(title)">
<title th:text="${title}">창이름</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=0.25, maximum-scale=1.0, minimum-scale=0.20, user-scalable=yes">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" type="text/css" href="/css/map.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/js/challenge.js"></script>
<script src="/js/login.js"></script>	
</head>

<!-- 공통 네비게이션: top -->
<nav th:fragment="nav-top">
	<div class="nav-top">
		<div class="wrapper">
			<div class="nav-logo">
				<a href="/">Green Scanner</a>
			</div>
			<div class="nav-menu">
				<div class="login-nickname-container">
					<span id="nickname">
						<a id="login-btn" href="/html/login.html">로그인</a>
						<a href="/html/memberInform.html"><div class="login-nickname"></div></a>
					</span>
				</div>
				<div class="join-logout">
					<a id="join-btn" href="/html/memberInsertForm.html">회원가입</a>
				</div>
				<a>공지사항</a>
				<div class="">
					<a id="" href="/faq">FAQ</a>
				</div>
				<div class="nav-dropdown">
					<button class="nav-dropdown-btn">자주사용하는기능</button>
					<div class="dropdown-submenu">
						<a href="/html/SWV.html">음성으로배출방법찾기</a>
						<a onclick='alert("준비 중인 서비스입니다.")'>사진으로배출방법찾기</a>
						<a href="/html/trashCanMap.html">주변쓰레기통찾기</a>
						<a href="/html/zeroWasteShopMap.html">제로웨이스트상점찾기</a>
						<a href="/challenge/main">챌린지</a>
						<a href="/board/boardlist">게시판</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<div class="nav-border"></div>
</nav>

<!-- 공통 footer -->
<div th:fragment="new-footer" class="footer">
	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<div class="footer-border"></div>
	<!-- content section 크기와 같은 영역 -->
	<div class="wrapper">
		<div class="footer-left">
			<a href="#" onclick="window.open('/html/privacyPolicy.html', '개인정보처리방침', 'resizable=no scrollbars=yes width=500 height=500 top=0, left=0 ')">개인정보처리방침</a>
			<a href="#" onclick="window.open('/html/membershipTerms.html', '이용약관', 'resizable=no scrollbars=yes width=500 height=500 top=0, left=0 ')">이용약관</a>
		</div>
		<div class="footer-right">
			<span>Copyright @ GREEN SCANNER</span>
		</div>
	</div>
</div>

<!-- 내비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-back" th:fragment="nav">
	<div class="container-fluid">
		<div class="text-left">	
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>     
    		</button>
			<a style='color:white;' class="navbar-brand navcolor" href="/index.html">GreenScanner</a>
		</div>
	   
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li id="loginBlankDiv1" class="nav-item">	        
		        	<a style='color:white;' class="nav-link" aria-current="page" href="#" onclick="window.open('/html/loginForm.html', 'indexwindow', 'toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=500,width=400,height=400');" >로그인</a>
		        </li>
		        <li id="loginBlankDiv2" class="nav-item">
		        	<a style='color:white;' class="nav-link" href="#" onclick="window.open('/html/memberInsertForm.html', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=500,width=400,height=750');">회원가입</a>
		        </li>
		        <li id="nicknameDiv" class="nav-item">
		        </li>
		        <li id="logoutDiv" class="nav-item">
		        </li>
		        <li class="nav-item">
		          	<a style='color:white;' class="nav-link" href="#" aria-disabled="true">공지사항</a>
		        </li>
		        <li class="nav-item">
		          	<a style='color:white;' class="nav-link" href="questionBoard.html" aria-disabled="true">FAQ</a>
		        </li>
		        <li class="nav-item">
		          	<a style='color:white;' class="nav-link" href="#" aria-disabled="true" onclick="window.open('/html/privacyPolicy.html', '개인정보처리방침', 'resizable=no scrollbars=yes width=500 height=500 top=0, left=0 ')">개인정보처리방침</a>
		        </li>
	      	</ul>
			<form class="d-flex">
		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		        <button id="searchBtn" class="btn btn-outline-success" type="submit">Search</button>
		    </form>
	    </div>
	</div>
	
</nav>

<!-- back(뒤로가기) -->
<div style="margin-top: 6vh;" th:fragment="back(backPage)">
	<a class="navbar-brand" th:href="@{${backPage}}" style="text-decoration:none;">
		<img src="/img/back.png" alt="..." style="width: 20px; height:20px; margin-left:5px" >
		<label style="font-size: 20px; font-weight: bold; padding: 30px,30px,2px,30px; 
			margin-top:10px; margin-left: 5px; color:#5A9367"></label>
	</a><br>
</div>
    
<!-- 푸터 -->    
<nav class="navbar fixed-bottom navbar-light bg-light" th:fragment="footer">
	<div class="container-fluid">
		<!-- 이미지 수정 필요 -->
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="/index.html"><img src="/img/homewhite.png" alt="..." ></a>
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="/html/SWI.html"><img src="/img/camerawhite.png" alt="..." ></a>
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="/html/SWV.html"><img src="/img/microphonewhite.png" alt="..." ></a>
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="/html/trashCanMap.html"><img src="/img/mapwhite.png" alt="..." ></a>
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="/board/boardlist"><img src="/img/clipboard.png" alt="..." ></a>
		<a class="navbar-brand" href="#"></a>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</nav>

</html>