<head th:fragment="qna_head(title)">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale= 1.0, user-scalable=yes">
	<link rel="stylesheet" type="text/css" href="../css/map.css">
	<link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
	<title th:text="${title}">게시판</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	
	<script src="../js/qnaboard.js"></script>
	<script src="../js/login.js"></script>

</head>