<!DOCTYPE html>
<html>
<head th:replace="fragments/qna_head :: head('수정하기')">
</head>
<body>
	<!-- 공통 네비게이션: top -->
	<nav>
		<!-- content section 크기와 같은 영역 -->
		<div class="nav-top">
			<div class="wrapper">
				<div class="nav-logo">
					<a>Green Scanner</a>
				</div>
				<div class="nav-menu">
					<div class="login-nickname-container">
						<span id="nickname">
							<a id="login-btn" href="/html/login.html">로그인</a>
							<a href="/html/memberInform.html"><div class="login-nickname"></div></a>
						</span>
					</div>
					<div class="join-logout">
						<a id="join-btn" href="/html/memberInsertForm.html">회원가입</a>
					</div>
					<a>공지사항</a>
					<div class="">
						<a id="" href="/faq">FAQ</a>
					</div>
					<div class="nav-dropdown">
						<button class="nav-dropdown-btn">자주사용하는기능</button>
						<div class="dropdown-submenu">
							<a href="/html/SWV.html">음성으로배출방법찾기</a>
							<a href="/html/SWI.html">사진으로배출방법찾기</a>
							<a href="/html/trashCanMap.html">주변쓰레기통찾기</a>
							<a href="/html/zeroWasteShopMap.html">제로웨이스트상점찾기</a>
							<a href="/challenge/main">챌린지</a>
							<a href="/board/boardlist">게시판</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<div class="nav-border"></div>
	<div class="Title">
		<label class="Title_text">글쓰기</label>
		<div class="Vector_13"></div>
	</div>
	<form action="/qna/updatePostSave" method="post"
		enctype="multipart/form-data" onsubmit="return writePost();">
		<div class="Write_form">

			<div class="Post_title">
				<div class="write_label">제목</div>
				<input th:value="${post.title}" type="text" class="input_title"
					name="title" id="title" placeholder="제목을 입력해주세요.">
			</div>
			<div class="Post_boardType">
				<div class="write_label">게시판 구분</div>
				<div class="">
					<select class="select_boardType" name="boardname" id="boardname">
						<option class="select_boardType" value="자유게시판">자유게시판</option>
						<option class="select_boardType" value="질문게시판">질문게시판</option>
					</select>
				</div>
			</div>
			<div class="Post_anonymous">
				<input class="input_checkbox" type="checkbox" name="isanon"
					th:if="${post.isanon} == 1" value="1" checked="checked"> <input
					class="input_checkbox" type="checkbox" name="isanon"
					th:if="${post.isanon} == 0" value="0"> <label
					class="write_label">익명</label>
			</div>
			<div class="Post_content">
				<div class="write_label">내용</div>
				<textarea th:text="${post.content}" name="content" id="content"
					class="input_content" placeholder="내용을 입력해주세요"></textarea>
			</div>
			<div class="Post_file">
				<div class="file-upload preview-image">
					<label for="input"><img src="../img/board/Insert-photo.png"></label>
					<input type="text" class="upload-name" disabled="disabled">
					<input accept="image/*" type="file" name=file id="input"
						th:text="${post.filename}" class="upload-hidden"> <input
						type="hidden" id="orgFile" name="orgFile"
						th:value="${post.filename}" />
				</div>
			</div>
			<div class="Btn_group">
				<input type="hidden" name="_csrf" th:value="${token}"> <input
					type="hidden" name="postno" th:value="${post.postno}"></input> <input
					type="button" class="Btn_cancle" id="cancleBtn" value="취소">
				<input type="submit" class="Btn_submit" id="registerPostBtn"
					value="등록">
			</div>


		</div>
	</form>
</body>
</html>