<!DOCTYPE html>
<html>
<head th:replace="fragments/qna_head :: qna_head('글쓰기')">
</head>
<body>
	<!-- 공통 네비게이션: top -->
	<nav>
		<!-- content section 크기와 같은 영역 -->
		<div class="nav-top">
			<div class="wrapper">
				<div class="nav-logo">
					<a>Green Scanner</a>
				</div>
				<div class="nav-menu">
					<a>로그인</a> <a>회원가입</a> <a>공지사항</a> <a>FAQ</a>
					<div class="nav-dropdown">
						<button class="nav-dropdown-btn">자주사용하는기능</button>
						<div class="dropdown-submenu">
							<a>음성으로배출방법찾기</a> <a>사진으로배출방법찾기</a> <a>주변쓰레기통찾기</a> <a>제로웨이스트상점찾기</a>
							<a>챌린지</a> <a>게시판</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- 밑줄: 디자인 요소 다운하여 사용 -->
	<div class="nav-border"></div>
	<div class="Title">
		<label class="Title_text">글쓰기</label>
		<div class="Vector_13"></div>
	</div>
	<form action="/qna/write" method="post" enctype="multipart/form-data"
		onsubmit="return writePost();">
		<div class="Write_form">

			<div class="Qna_Post_title">
				<div class="write_label">제목</div>
				<input type="text" class="qna_input_title" name="title" id="title"
					placeholder="제목을 입력해주세요">
			</div>
			<div class="Post_anonymous">
				<input class="input_checkbox" type="checkbox" name="isanon"
					value="1"><label class="write_label">익명</label>
			</div>
			<div class="Post_content">
				<div class="write_label">내용</div>
				<textarea name="content" id="content" class="input_content"
					placeholder="내용을 입력해주세요"></textarea>
			</div>
			<div class="Post_file">
				<div class="file-upload preview-image">
					<label for="input"><img src="../img/board/Insert-photo.png"></label>
					<input type="text" class="upload-name" disabled="disabled">
					<input accept="image/*" type="file" id="input" name="file"
						class="upload-hidden">
				</div>
			</div>
			<div class="Btn_group">
				<input type="hidden" name="_csrf" th:value="${token}"> <input
					type="button" class="Btn_cancle" id="cancleBtn" value="취소">
				<input type="submit" class="Btn_submit" id="registerPostBtn"
					value="등록">
			</div>


		</div>
	</form>


	<!-- 	<!-- board.js에서 제목/내용 null 체크 후 form 전송 -->
	<!-- 	<form action="/qna/write" method="post" enctype="multipart/form-data"
		onsubmit="return writePost();">
		<div class="board-font" style="padding: 20px;">
			제목
			<div class="form-group my-3">
				<label for="title" class="col-sm-2 control-label"
					style="font-size: 14px; font-weight: bold">제목</label><br>
				<div>
					<input type="text" name="title" id="title" style="width: 100%"
						class="form-control" placeholder="제목을 입력해주세요." />
				</div>
			</div>
			익명여부
			<div class="form-group my-3">
				<label style="font-size: 14px; font-weight: bold">익명</label> <input
					type="checkbox" name="isanon" value="1">
			</div>
			<div class="form-group my-3">
			<label style="font-size:14px; font-weight: bold">닉네임</label> <input type="text" style="width:100%" class="form-control" name="nickname">
		</div>
			내용
			<div class="form-group my-3">
				<label for="content" class="col-sm-2 control-label"
					style="font-size: 14px; font-weight: bold">내용</label><br>
				<div>
					<textarea name="content" id="content" style="width: 100%"
						class="form-control" placeholder="내용을 입력해주세요."></textarea>
				</div>
			</div>
			파일 업로드
			<div class="form-group my-3">
				<label for="file" class="col-sm-2 control-label"
					style="font-size: 14px; font-weight: bold">파일 업로드</label><br>
				<div>
					<input type="file" accept="image/*" id="file" name="file"
						class="form-control" />
				</div>


			</div>



			등록/취소 버튼
			<div class="text-center">
				요청 검증 토큰
				<input type="hidden" name="_csrf" th:value="${token}"> <input
					type="submit" class="btn btn-success waves-effect waves-light"
					id="registerPostBtn" value="등록"
					style="background-color: #5CAB7D; border-color: #5CAB7D"> <input
					type="button" class="btn btn-light waves-effect waves-light"
					id="cancleBtn" value="취소">
			</div>
			<br>
			<br>

		</div> -->
	<!-- 	</form> -->



	<!-- 	<div class="viewwrap">    
    	<div class="content">
			<div class="articlewrap">
		<h2>새글 쓰기</h2>

		<form action="/board/write" method="post" >
			<table class="boardWrite">
				<thead>
					<tr>
						<th><label for="boardname">게시판 선택</label></th>
						<td>
						<input type="text" id="boardname" name="boardname" class="form-control" size="70" />
						</td>
					</tr>
					<tr>
						<th><label for="title">제목</label></th>
						<td>
							<input type="text" id="subject" name="title" class="form-control" size="70" />
						</td>
					</tr>
					<tr>
						<th><label for="nickname">작성자</label></th>
						<td>
							<input type="text" id="nickname" name="nickname" class="form-control" size="70" />
						</td>
					</tr>
					<tr>
						<th><label for="content" >내용</label></th>
						<td><textarea class="form-control" id="content" name="content" rows="3"></textarea>
						</td>
					</tr>
					
				</thead>
			</table>
					토큰
					<input type="reset" class="btn btn-warning" value="재작성"></input>
					<input type="submit" class="btn btn-success" value="작성완료"></input>
	  		    	<input type="button" class="btn btn-secondary" onclick="location.href='/board/boardlist'" value="뒤로 가기"/>
			</form>

	</div>
	</div>
	</div> -->


</body>
<link rel="stylesheet" href="../css/boardWrite.css">
</html>