<!DOCTYPE html>
<html>
<head th:replace="fragments/qna_head :: qna_head('QnA게시판')">
<body>
	<div class="Title">
		<label class="Title_text">FAQ</label>
		<button class="Btn_write" id="writeBtn">글쓰기</button>
		<div class="Vector_13"></div>
	</div>
	<div class="Section">
		<input id="sessionNickname" type="hidden"
			th:value="${session.memnickname}" />
		<div class="ContentBox" th:each="post:${postList}">
			<a class="link" id="index" th:attrappend="id=${postStat.index}"
				name="postno" th:href="@{/qna/viewpost(postno=${post.postno})}">
				<div class="Post_title" th:text="${post.title}"></div>
				<div class="Post_content" th:text="${post.content}"></div>
				<div class="Post_etc">
					<div class="Nickname">
						<img class="img_16" src="../img/board/User.png"> <label
							class="text" th:if="${post.isanon} == 0"
							th:text="${post.nickname}"></label> <label class="text"
							th:if="${post.isanon} == 1">익명</label>
					</div>
					<div class="Comments">
						<img class="img_16" src="../img/board/Comment.png"> <label
							class="text" th:text="${post.reply_cnt}"></label>
					</div>
					<div class="Post_date"
						th:text="${#dates.format(post.postdate, 'yyyy-MM-dd HH시 mm분')}"></div>
				</div>
			</a>
		</div>
	</div>
</body>
</html>