<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common.html :: header('댓글 보기')">
<body>
	<nav th:replace="fragments/common.html :: nav-top"></nav>
	<!-- content 영역 -->
	<div class="chall-cont-body">
		<div class="chall-cont-wrapper">
			<!-- 피드 내용 -->
			<div class="cmt-feed-detail">
				<div class="cmt-feed-detail-top">
					<div class="feed-top-icon">
						<img src="/img/profile.png">
					</div>
					<div class="feed-top-text">
						<span class="feed-top-nickname" th:text="${feed.writer}"></span>
						<span class="feed-top-post-time" th:text="${#dates.format(feed.postTime, 'yyyy/MM/dd HH시 mm분')}"></span>
					</div>
				</div>
				<div class="cmt-feed-detail-cont" th:text="${feed.content}"></div>
			</div>
			<!-- 댓글 입력 창 -->
			<div class="cmt-write-wrapper">
				<form th:if="${nickname}" id="cmt-write-form">
					<input type="hidden" name="challengeNum" th:value="${challengeNum}">
					<input type="hidden" name="feedNo" th:value="${feed.feedNo}">
					<input type="hidden" name="writer" th:value="${nickname}">
					<div class="cmt-write-form-top">
						<div class="cmt-top-icon">
							<img src="/img/challenge/user.png">
						</div>
						<div class="cmt-top-text">
							<span class="cmt-top-nickname" th:text="${nickname}"></span>
						</div>
					</div>
					<div class="cmt-write-form-cont">
						<textarea class="cmt-textarea" id="cmt-write-textarea" name="content" placeholder="내용을 입력해주세요."></textarea>
						<input class="cmt-write-btn" id="cmt-write-btn" type="button" onclick="chall_regi_cmt()" value="등록">
					</div>
				</form>
				<div th:unless="${nickname}" class="cmt-write-login-required">
					<span>댓글을 작성하려면 <a href="/html/login.html"><strong>로그인</strong></a>해주세요.</span>
				</div>
			</div>
			<!-- 댓글 리스트 -->
			<div class="cmt-list-wrapper">
				<!-- 댓글 있음 -->
				<div class="cmt-cont" th:if="${commentList}" th:id="|cmt-content-${comment.idx}|" th:each="comment : ${commentList}">
					<div class="cmt-cont-top">
						<div class="cmt-cont-top-left">
							<div class="cmt-top-icon">
								<img src="/img/challenge/user.png">
							</div>
							<div class="cmt-top-text">
								<span class="cmt-top-nickname" th:text="${comment.writer}"></span>
								<span th:if="${comment.updateTime} == null" class="cmt-top-time" th:text="${#dates.format(comment.insertTime, 'yyyy/MM/dd HH시 mm분')}"></span>
								<span th:unless="${comment.updateTime} == null" class="cmt-top-time" th:text="${#dates.format(comment.updateTime, 'yyyy/MM/dd HH시 mm분')}"></span>						
							</div>
						</div>
						<div th:if="${nickname == comment.writer}" class="cmt-cont-top-right">
							<button type="button" class="cmt-delete-btn" th:onclick="chall_delete_cmt([[${comment.idx}]])">댓글삭제</button>							
							<button type="button" class="cmt-update-form-btn" th:onclick="fn_update_form([[${comment.idx}]])">댓글수정</button>
						</div>
					</div>
					<div class="cmt-cont-bot">
						<div class="cmt-bot-cont" th:text="${comment.content}"></div>
					</div>
					<div class="chall-cont-min-border"></div>
				</div>
				<!-- 댓글 없음 -->
				<div th:unless="${commentList}" class="no-cmt-list">
					<span>아직 등록된 댓글이 없습니다.</span>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/common.html :: new-footer"></div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		var urlHead = /*[[ |/feed/${feed.feedNo}/comments/|]]*/;
		var cmtIdHead = '#cmt-content-';
		var challengeNum = /*[[ ${challengeNum} ]]*/;
		var writeTextarea = $('#cmt-write-textarea');
		var cmtListWrapper = $('.cmt-list-wrapper');
	/*]]>*/
	</script>
</body>
</html>