<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common.html :: header('피드 댓글 리스트')">
<body>
	<nav th:replace="/fragments/common.html :: nav"></nav>
	<div th:replace="/fragments/common.html :: back('/challenge/feed/' + ${challengeNum})"></div>
	
	<!-- 피드 내용 영역 -->
	<div>
		<div
			style="width: 1000px; border: 0.1px solid #bebebe; float: left; margin-left: 7.5px; margin-right: 7.5px;" 
			th:object=${feed}>
			<table>
				<tr><td>작성자:</td><td th:text="*{writer}"></td></tr>
				<tr><td>내용:</td><td th:text="*{content}"></td></tr>
				<tr><td>작성일:</td><td th:text="${#dates.format(feed.postTime, 'yyyy/MM/dd HH시 mm분')}"></td></tr>
			</table>
		</div>
		<!-- 댓글 영역 -->
		<div style="width: 1000px;">
			<!-- 댓글 쓰기 폼 -->
			<div th:object=${params}>
				<form 
					id="commentWriteForm"
					onsubmit="return fn_comment_write_confirm()"
					th:action="@{'/feed/comments/' + ${feed.feedNo}  (challengeNum = ${challengeNum})}"
					th:method="post">
					<div>
						<input type="hidden" name="feedNo" th:value="${feed.feedNo}" />
						<input type="text" name="writer" th:value="${nickname}" style="width: 10%" />
						<textarea name="content" style="width: 70%; height: 50px; float: left;" placeholder="댓글을 입력하세요."></textarea>
						<table style="width: 20%; height: 50px;">
							<tr><td></td></tr>
							<tr><td><input type="submit" value="등록" /></td></tr>
						</table>
					</div>
				</form>
				
				<form
					id="commentWriteForm"
					th:if="${idx}"
					onsubmit="return fn_comment_write_confirm()"
					th:action="@{/feed/comments/ + *{idx}  (challengeNum = ${challengeNum})}"
					th:method="post">
					<div>
						<input type="hidden" name="feedNo" th:value="${feed.feedNo}" />
						<input type="hidden" name="idx" th:value="*{idx}" />
						<input type="text" name="writer" th:value="${nickname}" />
						<textarea name="content" style="width: 80%; height: 50px" placeholder="댓글을 입력하세요." th:text="*{contnet}"></textarea>
						<table style="width: 20%; height: 50px">
							<tr><td><input type="reset" id="commentCancleBtn" value="취소" /></td></tr>
							<tr><td><input type="submit" value="등록" /></td></tr>
						</table>
					</div>
				</form>	
			</div>
			<!-- 댓글 리스트 -->
			<div style="width: 1000px;">
				<div th:each="comment : ${commentList}">
					<div class="commentContent" style="border: 0.1px solid #bebebe;">
						<table style="width: 100%;">
							<tr>
								<td>작성자:</td>
								<td th:text="${comment.writer}"></td>
								<td th:if="${comment.updateTime} == null">등록시간:</td><td th:text="${#dates.format(comment.insertTime, 'yyyy/MM/dd HH시 mm분')}"></td>
								<td th:unless="${comment.updateTime} == null">수정시간:</td><td th:text="${#dates.format(comment.updateTime, 'yyyy/MM/dd HH시 mm분')}"></td>
							</tr>
							<tr>
								<td>내용:</td>
								<td th:text="${comment.content}" colspan="3"></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td th:if="${nickname == comment.writer}"><button type="button" id="commentUpdateBtn">수정</button></td>
								<td th:if="${nickname == comment.writer}"><button type="button" id="commentDeleteBtn">삭제</button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!-- footer -->	
	<nav th:replace="/fragments/common.html :: footer"></nav>	
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
//여기에 이 코드를 쓰기 위해선 loginForm.html에도 위 쿠키 라이브러리르 추가해 주어야합니다.
$(function(){
	var blank=$.cookie("blanked");
 	var login=$.cookie("logined"); 
 	var logout=$.cookie("logouted"); 
		$("#loginBlankDiv1").html(blank);
		$("#loginBlankDiv2").html(blank);
 		$("#nicknameDiv").html(login);
 		$("#logoutDiv").html(logout);
});

</script>
</html>
