<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common.html :: header('피드 모아보기')">
<body>
	<nav th:replace="fragments/common.html :: nav-top"></nav>
	<!-- content 영역 -->
	<div class="chall-cont-body">
		<div class="chall-cont-wrapper">
			<div class="chall-cont-top">
				<span id="chall-cont-top-title">피드 모아보기</span>
			</div>
			<!-- feed list border -->
			<div class="content-border"></div>
			<!-- 리스트가 존재하지 않을 때 -->
			<div th:if="${#lists.isEmpty(feedList)}" class="chall-cont-no-feed">
				<span id="chall-no-list">아직 등록된 피드가 없습니다.</span>
			</div>
			<!-- 리스트가 존재할 때 -->
			<div  class="chall-cont-feed-wrapper" th:unless="${#lists.isEmpty(feedList)}">
				<div class="chall-cont-feed" th:each="feed : ${feedList}">
					<div class="feed-top">
						<div class="feed-top-left">
							<div class="feed-top-icon">
								<img src="/img/profile.png">
							</div>
							<div class="feed-top-text">
								<span id="feed-top-nickname" th:text="${feed.writer}"></span>
								<span id="feed-top-post-time" th:text="${#dates.format(feed.postTime, 'yyyy/MM/dd HH시 mm분')}"></span>
							</div>
						</div>
						<div class="feed-top-right">
							<a id="feed-top-chall-name">챌린지명(예정)</a>
							<div class="chall-feed-dropdown">
								<label th:if="${nickname} and ${nickname == feed.writer}" for="chall-feed-3dots">
									<img id="chall-feed-3dots" src="/img/3dots.png">
								</label>
								<div class="feed-3dots-submenu">	
									<a	id="feed-edit-btn" 
										th:href="@{'/challenge/feed/' + ${feed.challengeNum} +'/set' (feedNo = ${feed.feedNo})}">수정</a>
									<form
										id="deleteForm"
										onsubmit="return fn_feed_delete_confirm()"
										th:action="@{/challenge/feed/{challengeNum}/{feedNo} (challengeNum = ${feed.challengeNum}, feedNo = ${feed.feedNo})}"
										th:method="delete">
										<input type="submit" value="삭제" />
									</form>
								</div>
							</div>	
						</div>
					</div>
					<div class="feed-cont">
						<div class="feed-cont-pic"></div>
						<div class="feed-cont-text" th:text="${feed.content}"></div>
					</div>
					<div class="feed-cmt">
						<div class="feed-cmt-link">
							<a th:href="@{'/feed/comments/' + ${feed.feedNo} (challengeNum = ${feed.challengeNum})}">
								<img src="/img/comment.png">
								<span></span>
								<span th:text="${feed.commentCnt}"></span>
							</a>	
						</div>
						<div class="feed-cmt-preview"></div>
					</div>
				</div>
			</div>
			<div class="chall-cont-btn">
				<button id="chall-more-btn">더 보기</button>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/common.html :: new-footer"></div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		var totalFeedCnt = /*[[ ${totalFeedCnt} ]]*/;
	 	var startIdx = 1;
	 	var searchStep = 5;
	 	
	 	$('#chall-more-btn').click(function() {
	 		startIdx += searchStep;
	 		more_feed(startIdx);
	 	});
	 	/*]]>*/
	</script>
</body>
</html>