<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common.html :: header('피드 쓰기')">
<body>
	<nav th:replace="fragments/common.html :: nav-top"></nav>
	<!-- content 영역 -->
	<div class="chall-cont-body">
		<div class="chall-cont-wrapper">
			<div class="chall-cont-top">
				<span class="chall-cont-top-title">피드쓰기</span>
			</div>
			<div class="content-border"></div>
			<div class="chall-feed-write-wrapper">
				<form
					id="feed-write-form"
					th:action="@{/challenge/feed/{challengeNum} (challengeNum = ${challengeNum})}"
					onsubmit="return fn_write_confirm()"
					th:object="${feed}"
					method="post">
					<span class="chall-cont-min-title" th:text="${challengeName}"></span>
					<input type="hidden" th:if="*{feedNo > 0}" th:field="*{feedNo}">
					<input type="hidden" th:if="*{writer != null}" th:field="*{writer}">
					<div class="chall-feed-write-img-preview"></div>
					<textarea th:field="*{content}" placeholder="내용을 입력해주세요."></textarea>
					<div class="chall-cont-min-border"></div>
					<div class="chall-form-btns">
						<input id="cancle-btn" type="reset" value="취소">
						<input id="complete-btn" type="submit" value="완료">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 하단 footer -->
	<div th:replace="/fragments/common.html :: new-footer"></div>
</body>
</html>